.carousel-container {
  margin-top: 10px;
  position: relative;
  width: 65%;
  display: flex;
  align-items: center;
}

.carousel-items-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 10px;

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.item {
  flex: 0 0 auto;
  height: 240px;
  width: 200px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  scroll-snap-align: start;
  overflow: hidden;
  position: relative;
  color: white;

  .detail {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    font-family: Arial, Helvetica, sans-serif;

    h1 {
      font-size: 1.1rem;
      margin: 0;
      font-weight: bold;
    }

    p {
      font-size: 0.8rem;
      margin: 5px 0;
    }

    .user-detail {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-top: 8px;

      img {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        object-fit: cover;
        background-color: #ccc;
      }

      .username {
        font-size: 0.85rem;
        font-weight: bold;
      }
      .more{
        font-size: 0.75rem;
        color: #b4aeaef5;
      }
    }
  }
}

.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(11, 11, 11, 0.298);
  cursor: pointer;
  color: white;
  font-size: 2.2rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 0.5rem;
  z-index: 10;

  &:hover {
    background-color: rgba(48, 48, 48, 0.619);
  }
}

.arrow-btn:first-of-type {
  left: 5px;
}

.arrow-btn:last-of-type {
  right: 5px;
}