@use "../../variables/variable.scss" as *;

.sidebar {
    height: 100vh;
    background-color: $background-color;
    color: white;
    overflow-y: auto;
    font-family: Arial, sans-serif;
    flex-shrink: 0;
    border-right: 1px solid gray;
    position: fixed;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    z-index: 990;

    &.open {
        width: 240px;
        

        
        @media (max-width: 768px) {
            width: 240px;
            transform: translateX(0);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        }
    }

    &.collapsed {
        width: 60px;
        
        @media (max-width: 768px) {
            transform: translateX(-100%);
        }

        ul li a,
        ul li span {
            overflow: hidden;
            white-space: nowrap;
        }
    }
    
    @media (max-width: 768px) {
        transform: translateX(-100%); 
    }

    ul {
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            list-style: none;
            display: flex;
            align-items: center;
            padding: 10px 16px;
            font-size: 14px;
            transition: background-color 0.2s ease;
            color: white;
            
            svg {
                margin-right: 10px;
                font-size: 18px;
                min-width: 18px;
            }

            a {
                color: white;
                text-decoration: none;
                margin: 0;
                padding: 10px 0;
                width: 100%;
                border-radius: 10px;
                display: flex;
                align-items: center;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }

                &.active {
                    background-color: rgba(255, 255, 255, 0.2);
                    color: white;
                    font-weight: bold;
                }
            }
        }

        .section-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 16px;
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;
            background-color: transparent;

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }

            svg {
                font-size: 18px;
            }
        }

        .nested-list {
            margin-left: 10px;

            li {
                padding-left: 26px;

                svg {
                    font-size: 16px;
                    margin-right: 8px;
                }
            }
        }
    }
}