@use "variables/variable.scss" as *;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.below-nav{
  display: flex;
  width: 100vw;
}
.main-content {
  min-height: 100vh;
  margin-left: 240px; 
  background-color: $background-color;
}